body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(13, 17, 23)
}

header .caixa {
    position: relative;
    width: 100%;
    background-color: #161b22;
    /* background-color: grey ; */
    margin: 0px auto;
}

header .img1 {
    padding: 5px 20px 3px 20px;
    height: 26px;
    width: 26px;
}
header .img2 {
    position: absolute;
    padding: 5px 20px 3px 20px; /*5px pra cima, 20px pra esquerda, 3px pra baixo e 20px pra direita */
    right: 5px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
}

.divdomain {
    margin: 0 auto;
    padding: 288px;
}


/*footer*/
footer {
    width: 100%;
    height: 300px;
    margin: 60px 0 0 0;
    padding: 60px 0;
    /*background-image: url(capaprobanner.jpg);
    background-repeat: no-repeat;
    background-position: center center; */
}
footer h1 {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
    position: relative;
    top: 59px;
    color: white;

}
footer p {
    text-align: center;
    font-size: 11px;
    padding: 10px 0 0 0;
    position: relative;
    top: 50px;
    color: white;

}
.navdofooter {
    display: inline;
    text-align: center;
    padding: 0 0 50px 0;

}
.navdofooter ul {
    font-size: 12px;
    padding: 20px 0 0 20px;
    position: relative;
    top: 70px;
}
.navdofooter li {
    display: inline-block;
    vertical-align: top;
    padding: 11px 30px 0 11px;

}
.navdofooter li a {
    text-decoration: none;
    color: white;
}
.social-links {
    padding: 40px 0 10px 0;
    text-align: center;
    position: relative;
    top: 70px;
    text-decoration: none;
}