@font-face {
    font-family: 'icones';
    src: url(font/icones.ttf);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(13, 17, 23);
    /*background-color: #03001c;*/
}

/*------------------------------------------------------ cabeçalho e menu lateral --------------------------------------------------------------*/

header .caixa {
    display: flex;                                         /* Criação de um "flex-container", elementos dentro de um espaço podem ser remanejados */
    justify-content: space-between;                        /* Ele vai pegar todos o espaço vazio e colocar os elementos centrais do flex-container e deixar as pontas coladas */
    align-items: center;                                   /* Eles vão ser alinhados no meio do meu "flex-container" */
    background-color: #15191C;                           /* Cor de fundo */
    padding: 6px 10px;                                     /* Espaçamento interno */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

header .img1 {
    padding: 5px 25px 3px 20px;
    height: 26px;
    width: 26px;
}

header .img2 {
    position: absolute;
    right: 45px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

header .img3 {
    position: absolute;
    right: 0;
    height: 26px;
    width: 26px;
    padding: 0 20px 0 0;
    cursor: pointer;
}

.menu-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #15191C;
    /*width: 15vw;   */                                      /*Largura de viewport*/
    margin: 0 auto;
    height: 40vw;                                       /*Altura de viewport*/
    position: absolute;
    right: 100vw;
    z-index: 99;
}

.menu-lateral--ativo {
    width: 15%;
    margin: 0 auto;
    right: 10px;
    border-radius: 1%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.menu-lateral .menu-lateral__logo {
    display: inline;
    max-width: 90px;
    max-height: 160px;
    left: 16%;
    border-radius: 50%;
    margin: 50px 0 50px 0;
}

.menu-lateral a:hover{
    color: grey;
}

.editarperfil {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
}

.editarperfil img {
    position: absolute;
    left: 15px;
}

/*------------------------------------------------------------- HealthToday principal --------------------------------------------------------------------*/

.cardapioregistros {
    margin: 0 auto;
    width: 940px;
}

.cardapioregistros li{
    /*color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10%;
    vertical-align: top;
    margin: 20px 10px 0 0;
    box-sizing: border-box;
    padding: 200px 190px 20px 190px;
    cursor: pointer;*/
    display: inline-block;
    vertical-align: top;
    margin: 0 0.2%;
    box-sizing: border-box;
    padding: 30px 0 12px 200px;
}

.cardapioregistros img,h5 {
    cursor: pointer;
}

.cardapioregistros h5 {
    text-align: center;
    color: white;
}

.cardapioregistros a{
    text-align: center;
    color: white;
    text-decoration: none;
}

.cardapioregistros h5 a:hover {
    transition: 0.5s;
    text-shadow: 5px 5px 30px white;
}

.cardapioregistros .kitmedico {
    display: inline-block;
    position: relative;
    top: 0;
    cursor: pointer;
}

.lembretes {
    width: 940px;
    margin: 0 auto;
}

.lembretes ul {
    margin: 20px 0 0 0;
    color: white;
    border-radius: 1%;
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}
.lembretes a {
    text-decoration: none;
    color: white;
}

.lembretes .fechar {
    padding-left: 800px;
    right: 210px;
    padding-top: 5px;
    cursor: pointer;
}

.tarefas {
    width: 940px;
    margin: 0 auto;
    padding: 40px 0;
    border: 1px solid rgb(62, 62, 62);
}

.tarefas .botao1 {
    position: absolute;
    margin: 4px 0 0 30px;
    cursor: pointer;
}

.tarefas h1 {
    position: absolute;
    display: inline-block;
    margin: 0 0 0 50px;
    color: white;
    font-size: 15px;
}

.tarefas h2 {
    position: absolute;
    display: inline-block;
    margin: 60px 0 0 8px;
    color: white;
    font-size: 15px;
}

.botao2 {
    margin: 65px 0 0 30px;
    cursor: pointer;
}

/*------------------------------------------------------------- Editar perfil ------------------------------------------------------------------------*/

.caixaeditarperfil {
    margin: 0 auto;
    width: 970px;
}

.primeiraedicao {
    margin: 50px 50px;
    border: 1px solid white;
    padding: 60px 60px;
    border-radius: 20px;
}

.primeiraedicao img {
    margin-right: 10px;
}

.primeiraedicao .lapiscommargemgrande {
    margin-right: 500px;
}

.primeiraedicao li {
    position: absolute;
    display: inline-block;
    color: white;
    font-size: 20px;
}

.primeiraedicao p {
    margin-top: 10px;
    color: white;
}

.segundaedicao img {
    margin-left: 45px;
    margin-top: 20px;
}

.segundaedicao h1{
    color: white;
    display: inline-block;
    padding-left: 10px;
}

.segundaedicao ul{
    width: 88%;
    margin-top: 10px;
    margin-left: 40px;
    border: 1px solid white;
    padding: 20px 0 70px 20px;
    border-radius: 30px;
}

.segundaedicao li {
    display: inline-block;
    color: white;
}

.configuracoes {
    color: white;
    padding: 60px 0;
    margin-left: 40px;
}

.configuracoes h2 {
    display: inline-block;

    margin-left: 10px;
    position: absolute;
    color: white;
}

.configuracoes ul {
    border: 1px solid white;
    border-radius: 25px;
    padding: 30px 0 40px 0px;
    width: 880px;
    margin-top: 5px;
}

.configuracoes li {
    padding: 10px 20px;
    display: block;
}

.configuracoes .botao1, .botao22 {
    cursor: pointer;
}

.configuracoes .search {
    position: absolute;
    margin-left: 5px;
    cursor: pointer;
}

.configuracoes .connect {
    position: absolute;
    cursor: pointer;
    margin-left: 5px;
}


/*------------------------------- css da pagina de cadastro de usuario login e menu principal --------------------------------------------------*/
.principal {
    background: rgb(54, 54, 167);
    border-radius: 10px;
    font-style: italic;
    color: white;
    text-align: center;
    vertical-align: top;
    padding: 10px 15px;
    font-size: 19px;
}
.principal2 {
    border-radius: 10px;
    font-style: italic;
    color: white;
    text-align: center;
    vertical-align: top;
    padding: 10px 15px;
    font-size: 19px;
}
.maindologin {
    width: 940px;
    margin: 20px auto;
}

.maindologin form {
    color: white;
}

.maindologin form .primeirolabel {
    margin-left: 8px;
}

.maindologin form input {
    margin: 10px 0 0 20px;
    padding: 16px 25px;
    width: 100%;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.maindologin .classdosegundolabel{
    margin-right: 80px;
    margin-left: 11px;
}

.maindologin .classdoterceirolabel {
    margin-right: 80px;
    margin-left: 11px;
}

.maindologin .classdoquartolabel {
    margin-right: 60px;
    margin-left: 11px;
}

.maindologin .botaodeenviar {
    display: inline-block;
    border-radius: 40px;
    border: 1px solid white;
    margin-top: 60px;
    font-size: 18px;
    cursor: pointer;
    width: 80%;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: 100px;
    padding: 18px 0;
}

.maindologin .botaodeenviar:hover {
    transition: 0.5s;
    background-color: rgb(94, 167, 246);
}


.maindologin .sugestaosenha {
    color: rgb(78, 78, 253);
    font-size: 12px;
    margin-left: 25px;
    margin-top: 5px;
    font: italic;
}

.maindologin .sugestaosenha2 {
    color: rgb(78, 78, 253);
    font-size: 12px;
    margin-left: 25px;
    margin-top: 5px;
    font: italic;
}

.maindologin .h1copia {
    right: 50%;
    padding-left: 200px;
    color: white;
    font-size: 30px;
    margin: 50px 50px;
}

.maindologin .fazerlogin {
    padding: 18px 190px;
    display: inline-block;
    margin-left: 100px;
    border-radius: 40px;
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 40%;
}

.maindologin .fazerlogin:hover {
    transition: 0.5s;
    background-color: rgb(94, 167, 246);
}

.enc {
    margin-top: 20px;
}
.enc li {

    display: inline-block;
}

.enc a {
    text-decoration: none;
}

.enc .botaodeenviar2 {
    margin-top: 40px;
    padding: 15px 10px;
    text-align: center;
    width: 380px;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.enc .fazerlogin2 {
    display: inline-block;
    padding: 14px 50px;
    width: 310px;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.enc .botaodeenviar2:hover {
    transition: 0.5s;
    background-color: rgb(94, 167, 246);
}

.enc .fazerlogin2:hover {
    transition: 0.5s;
    background-color: rgb(94, 167, 246);

}
/*-------------------------------------------------------- Escolha de Tipos Cardapio ----------------------------------------*/

.cardapiocaixa {
    width: 940px;
    margin: 0px auto;
}

.cardapiocaixa .primeiroli{
    margin-left: 160px;
}

.cardapiocaixa li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.2%;
    box-sizing: border-box;
    padding: 12px 0 12px 0;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.cardapiocaixa h1 {
    margin-top: 5px;
    font-style: italic;
    text-align: center;
    color:white;
}

.cardapiocaixa a {
    text-decoration: none;
}

.escolhacardapio {
    font-style: italic;
    color: white;
    text-align: center;
    vertical-align: top;
    padding: 40px 15px;
    font-size: 19px;;
}

/*---------------------------------------------------------- Cardapio da Criança,Jovem,Adulto e Idoso ----------------------------------------------------- */

.tabela1 {
    margin: 0 auto;
    width: 940px
}

.tabela1 th:first-child{
    font-weight: bold;
    font-size: 20px;
    color: rgb(57, 144, 250);
}

thead {
    color: white;
}

td, th{
    border: 1px solid white;
    padding: 30px 20px; /*8px para cima e para baixo e 15 para os lados*/
    text-align: center;
}
tbody {
    color: white;
    font-weight: bold;
}

/*------------------------------------------------------------ Registros ------------------------------------------------------------------------*/

.caixalembrete {
    margin: 0 auto;
    width: 940px
}

.caixalembrete h1 {
    margin-top: 40px;
    color: white;
}

.caixalembrete img {
    margin-right: 10px;
}

.caixalembrete ul {
    color: white;
}

.caixalembrete li {
    width: 100%;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 20px;
    display: inline-block;
}

.caixalembrete .date {
    margin-left: 280px;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.caixalembrete .date3 {
    margin-left: 290px;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.caixalembrete .date4 {
    margin-left: 250px;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.caixalembrete .date5 {
    margin-left: 270px;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

.caixalembrete input {
    text-decoration: none;
    color: white;
    background-color: rgb(13, 17, 23);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
}

.caixalembrete p {
    display: inline-block;
    margin-left: 10px;
}

.caixalembrete .ultimoinput {
    margin-left: 20px;
}

.voltar {
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: rgb(13, 17, 23);
    border: 1px solid rgb(13, 17, 23);
    cursor: pointer;
    font-size: 18px;
    top: 60px;
    font-family: 'Montserrat', sans-serif;
}

.voltarimg {
    margin: 10px 5px
}
.voltarimglogin {
    margin-top: 19px 5px;
}
/*----------------------------------------------------------- Meus Feedbacks-------------------------------------------------*/
.maindofeedback {
    width: 940px;
    margin: 0 auto;
}

.maindofeedback h1{
    color: rgb(57, 144, 250);
    margin-bottom: 40px;
    font-size: 20px;
}

.maindofeedback li {
    color: white;
    margin: 20px 0;
}

.maindofeedback p {
    color: white;
}
/*------------------------------------------------------------ Contato -----------------------------------------------------*/
.contato {
    margin: 50px auto;
    width: 940px;
    border-radius: 10px;
}
.contato h3 {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    color: white;
    padding: 10px 0;
    margin: 0 0 20px 0;
}
.contato ul {
    padding: 10px 0 25px 0;
}
.contato li {
    color: white;
    padding: 5px 0;
    text-align: center;
    border-radius: 10px;
}
.contato a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(54, 54, 167);
}
/*------------------------------------------------------------ Politica ---------------------------------------------------*/
.maindapolitica {
    margin: 0 auto;
    width: 940px;
}

.maindapolitica h1 {
    font-size: 20px;
    color: rgb(57, 144, 250)
}

.maindapolitica p {
    color: white;
}

/*-------------------------------------------------------------- Termos----------------------------------------------------*/

.divdotermos {
    width: 940px;
    margin: 0 auto;
    color: white;
}

.divdotermos h1 {
    font-size: 20px;
    color: rgb(57, 144, 250);
}
/*------------------------------------------------------------- footer --------------------------------------------------------------*/
footer {
    width: 100%;
    height: 300px;
    margin: 60px 0 0 0;
    padding: 60px 0;
    /*background-image: url(capaprobanner.jpg);
    background-repeat: no-repeat;
    background-position: center center; */
}

footer h1 {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
    position: relative;
    top: 59px;
    color: white;

}

footer p {
    text-align: center;
    font-size: 11px;
    padding: 10px 0 0 0;
    position: relative;
    top: 50px;
    color: white;

}

.navdofooter {
    display: inline;
    text-align: center;
    padding: 0 0 50px 0;

}

.navdofooter ul {
    font-size: 12px;
    padding: 20px 0 0 20px;
    position: relative;
    top: 70px;
}

.navdofooter li {
    display: inline-block;
    vertical-align: top;
    padding: 11px 30px 0 11px;

}

.navdofooter li a {
    text-decoration: none;
    color: white;
}

.navdofooter li a:hover {
    transition: 0.5s;
    text-shadow: 5px 5px 25px white;
}

.social-links {
    padding: 40px 0 10px 0;
    text-align: center;
    position: relative;
    top: 70px;
    text-decoration: none;
}

a[href="#top"]{
    padding:10px;
    position:fixed;
    top: 90%;
    right:40px;
    display:none;
    font-size: 30px;
}
a[href="#top"]:hover{
    text-decoration:none;
}


@media screen and (max-width : 912px) {
    body, .cardapiocaixa,.cardapioregistros {
        width: auto;
    }
    .menu-lateral--ativo {
        width: 35%;
        height: 500px;
    }
    .menu-lateral--ativo li {
        padding: 0px 0px;
        display: inline-block;
        text-align: center;
    }
}